.pie {
    border: solid;
    padding: 15px;
    margin: 15px;

    background-color: rgb(255, 255, 255);

    .pie__contacto {
        text-align: center;
        list-style-type: none;
        margin-top: 50px;

        .ul {
            list-style-type: none;
        }

        .li {
            margin-top: 20px;
        }

        .insta {
            width: 50px;

        }


    }

    .pie__pago {

        text-align: center;
        margin-top: 50px;
    }

}