.contenedor {
    width: 100%;
    margin: 0px auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    display: grid;
    
    grid-template-columns: 0.40fr 0.50fr 0.25fr 0.25fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr 0.1fr;
    grid-template-areas: "navegador navegador navegador navegador"
    "seccion seccion seccion seccion"
    "main main main main"
    "footer footer footer footer";
    font-family:-apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    .cabecera {
        grid-area: navegador;
    }
    
    .seccionFoto {
        grid-area: seccion;
    }
    
    .nosotrosin {
        grid-area: main;
    }
    
    .pie {
        grid-area: footer;
    }




   

    .cabecera {
        background-color: rgb(255, 255, 255);
        padding: 15px;
        margin: 15px;
        border: solid;
        display: flex;
        justify-content: space-around;

        .imagenLogo {
            width: 200px;
            justify-content: right;
            transform: translate(20px);
            margin-right: px;
        }
    }
}